<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <listeners>
        <listener class-name="com.automationbookstore.base.TestListeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Search Test" parallel="tests">
        <parameter name="excelFilePath" value="/src/test/resources/TestData/SearchTestData.xlsx"></parameter>
        <parameter name="sheetName" value="Sheet1"></parameter>
        <classes>
            <class name="com.automationbookstore.tests.SearchTest"></class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Page Title Test" parallel="tests" >
        <classes>
            <class name="com.automationbookstore.tests.PageTitleTest"></class>
        </classes>
    </test>
</suite>
